[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose2 = "*"

[packages]
quart = "*"
quart-cors = "*"
hypercorn = "*"
pytest = "*"
quart-schema = "*"

[requires]
python_version = "3.9"
